﻿@{
    ViewBag.Title = "Home Page";
    @model IEnumerable<VpeTest.Model.SessionPriceViewModel>
}

<div class="jumbotron">
    @foreach (var category in Model)
    {
        <h3>@category.Category</h3>

        foreach (var zone in category.Zones)
        {
            <br>
            foreach (var session in zone)
            {
                <h4>@session.Tarif --- @session.Zone --- @session.Price</h4>
            }
        }

    }

</div>

